/*changer la police Signika Negative pour autre chose */
h1, h3, p
{
    font-family: 'Signika Negative', sans-serif;
}

/***NAVBAR***/
.navbar-default
{
    background-color:#333; opacity: 0.85; filter: alpha(opacity=50);
    border-color: #E44D26;
    height: 65px;
}

/*changer la police Signika Negative pour autre chose */
.navbar-nav
{
    font-family: 'Signika Negative', sans-serif;
    margin: 35px 100px 10px;
}

.navbar-default .navbar-nav li a
{
    color:#fff;
}

.navbar-default .navbar-nav li a:hover
{
    color:#E44D26;
}

.logo img
{
    margin:0 0 0 100px;
}

.navbar-left{
  margin-top: 15px;
}

.navbar-right img{
  margin:-200px 0 0 -15px;
  height: 24px;
  width: 24px;
}

/* Header */
.header {
    display: table;
    position: relative;
    width: 100%;
    height: 570px;
    /*background-image: url("../images/background.jpg")*/
    background: url(../images/background.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
#top h1 {
  /*background-image: url("../images/background.jpg");*/
  font-family: 'Signika Negative', sans-serif;
  color:black;
  margin-top: 150px;
  margin-left: 150px;
}
#top h3 {
  /*background-image: url("../images/background.jpg");*/
  font-family: 'Signika Negative', sans-serif;
  color:#000;
  margin-left: 150px;
}


/***THINK***/
#think {
  margin-top: 50px;
  margin-bottom: 50px;
}

.gauche{
  padding-left: 100px;
}

#think h1{
  color: #E44D26;
}

/***CREATE A GAME***/
#game{
  margin-top: 50px;
  margin-bottom: 50px;
}

.create{
  width: 100%;
  height: 450px;
  background-color: #EEEEEE;
  padding: 50px 0 75px 100px;
}

.grey{
  background-color: grey;
}

.white{
  background-color: white;
}
