/***NAVBAR***/
.navbar-default
{
    background-color:#333333;
    border-color: transparent;
}

.navbar-nav
{
    font-family: 'Signika Negative', sans-serif;
    margin: 35px 100px 10px;
}

.navbar-default .navbar-nav li a
{
    color:#fff;
}

.navbar-default .navbar-nav li a:hover
{
    color:#16a085;
}

.logo img
{
    margin:15px 0 0 100px;
}
